.fooberry {
	color:red;
}

ul.scratch {
	padding-left:20px;
}

.debug-label {
	font-size:9pt;
	color:red;
}


/* islandora-solr facet style mods */
.date-range-filter-wrapper .form-item-date-filter-date-filter-from {
    display:inline-block;
    width:50%;
}
.date-range-filter-wrapper .form-item-date-filter-date-filter-to {
    display:inline-block;
    width:48%;
}

.date-range-filter-wrapper .form-item {
	margin-top:0.3em;
	margin-bottom:0.3em;
}

.date-range-filter-wrapper .form-item-date-filter-date-filter-to label{
    width:2em;
}

.islandora-solr-facet-wrapper {
    margin-top:12px;
}

ul.islandora-solr-facet {
    margin-bottom:0px;
    margin-top:5px;
}

ul.islandora-solr-facet li {
	line-height:1.3em;
}

/* landing page */
dl.islandora-inline-metadata {
	/*background:red;*/
}

dl.islandora-inline-metadata dt {
	line-height: 21px;
}

dl.islandora-inline-metadata dd {
	padding-top:6px;
	/*background:red;*/
}
dl.islandora-inline-metadata dd p {
	margin-top:0px;
	margin-bottom:5px;
	/*background:red;*/
}
